@use "../function/function" as *;
@use "../variable/variable" as *;
@forward "../../foundation/settings";

@mixin icon-absolute-center($width, $height) {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: $width;
  height: $height;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}